.about {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 120px;
    width: 768px;
    margin: 0 auto;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    @include flex-start;

    width: 1366px;
    padding: 120px 103px 240px;
  }

  p {
    @include reset;

    display: block;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      width: 520px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      width: 355px;
      text-align: left;
      margin-bottom: 10px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.about__wrapper {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include reset;

    width: 678px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 355px;
    padding: 0;
  }
}

.about__title {
  text-align: left;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    text-align: left;
  }
}

.about__caption {
  @include reset;

  display: block;
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: center;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 95px;
    text-align: left;
  }
}

.about__wrapper-picture {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
  }
}

.about__picture {
  display: block;
  width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 400px;
  }
}

.about__wrapper-video {
  position: relative;
  width: 320px;
  height: 170px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    bottom: 35px;
    left: 0;
    right: 0;
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    bottom: auto;
    top: 405px;
    width: 360px;
    height: 230px;
  }
}

.about__video {
  display: block;
  width: 320px;
  height: 170px;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.about__button {
  display: block;
  padding: 0;
  width: 72px;
  height: 72px;
  position: absolute;
  border: 2px solid rgba(237, 2, 51, 0.2);
  border-radius: 50px;
  inset: 0;
  margin: auto;
  background-color: inherit;

  &::after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    inset: 0;
    margin: auto;
    mask-image: url("../../__spritemap#sprite-player-button-view");
    mask-size: 52px 52px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-image: $color-gradient-button;
    z-index: 1;
  }


  &::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    inset: 0;
    margin: auto;
    mask-image: url("../../__spritemap#sprite-polygon-view");
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-color: $color-primary-white;
    z-index: 2;
  }

  &:hover {
    background-image: none;
    border: 2px solid rgba(16, 38, 84, 0.6);

    &::after {
      background-color: $color-primary-white;
    }

    &::before {
      background-color: rgba(16, 38, 84, 0.6);
    }
  }

  &:focus {
    outline: none;
    border: 2px solid $background-dark;

    &::after {
      background-image: none;
      background-color: $color-grey;
    }

    &::before {
      background-color: $background-dark;
    }
  }

  &:active {
    outline: none;
    border: 2px solid $background-dark;
    opacity: 0.4;

    &::after {
      background-image: none;
      background-color: $color-primary-white;
    }

    &::before {
      background-color: $background-dark;
    }
  }
}
