.features {
  background-color: $color-secondary-white;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.features__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.features__list {
  @include reset-list;

  font-family: $secondary-font;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include flex-between;

    width: 768px;
    padding: 0 45px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 0 103px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 80px 40px;
  }
}

.features__item {
  margin-bottom: 40px;

  &:nth-child(1),
  &:nth-child(4) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 15px;
    width: 324px;
    text-align: left;
    margin-bottom: 0;

    &:nth-child(1),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    grid-template-columns: 1fr 210px;
    position: relative;
  }


  &:nth-child(1),
  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgba(209, 10, 66, 0.2);
        bottom: -39px;
        left: 0;
      }
    }
  }

  h4 {
    @include reset;

    display: block;
    width: 98px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    background: $color-gradient-text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 70px;
      line-height: 70px;
      width: auto;
      grid-area: 1 / 1 / 3 / 2;
      margin: 0;
      padding: 0;
    }
  }

  span {
    @include reset;

    display: block;
    width: 320px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-features-span;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      width: auto;
      grid-area: 3 / 1 / 4 / 2;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      line-height: 22px;
      margin-bottom: 18px;
    }
  }

  h5 {
    @include reset;

    display: block;
    width: 320px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      width: auto;
      grid-area: 1 / 2 / 2 / 3;
      margin: 0;
      padding: 0;
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  p {
    @include reset;

    display: block;
    width: 320px;
    font-family: $secondary-font;
    padding: 0 45px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      width: auto;
      grid-area: 2 / 2 / 4 / 3;
      margin: 0;
      padding: 0;
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 8px;
    }
  }
}

.features__item--dark {
  background-color: $color-plus;
  padding: 30px 0 40px;
  color: $color-primary-white;

  @media (min-width: $tablet-width) {
    display: block;
    width: 320px;
    padding: 35px;
    margin: 40px 179px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 3 / 3;
    width: 360px;
    margin: 0;
    padding: 58px 40px;
  }

  h4 {
    margin-bottom: 5px;
    background: $color-primary-white;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  h5 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }

  p {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}
