.footer {
  background-color: $background-footer;
}

.footer__wrapper {
  width: 320px;
  padding: 40px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include flex-between;
    width: 768px;
    padding: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 40px 103px 41px;
  }
}

.footer__logotype {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__list {
  @include reset-list;
  @include flex;
  row-gap: 5px;
  column-gap: 35px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    column-gap: 30px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
  }
}

.footer__link {
  @include reset-link;
  font-family: $secondary-font;
  color: $color-primary-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  &:hover {
    border-bottom: 1px solid $color-primary-white;
    padding: 0;
    padding-bottom: 5px;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $color-primary-white;
    padding: 5px 10px;
    margin: 0 -10px;
    margin-top: -6px;
  }

  &:disabled {
    opacity: 0.4;
  }
}
