.price {
  background-color: $color-secondary-white;

  @media (min-width: $tablet-width) {
    position: relative;
    overflow: hidden;
  }
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 60px 194px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 100px 103px;
  }
}

.price__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 20px;
  }
}

.price__list {
  @include reset-list;
  @include flex-between;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);

    @media (min-width: $tablet-width) {
      top: 28px;
    }
  }
}

.price__button {
  @include reset;
  background-color: inherit;
  font-family: $secondary-font;
  color: rgba(16, 38, 84, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
  padding-bottom: 10px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  &--active {
    color: $background-dark;
    border-bottom: 2px solid $color-accent-bg;
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      padding-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 8px;
    }
  }
}

.price__picture-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    object-fit: cover;
    width: 275px;
    height: 328px;
    content: '';
    position: absolute;
    transform: rotate(150deg);
    right: -15px;
    object-fit: cover;
    bottom: 10px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 321px;
    height: 384px;
    right: -93px;
    bottom: 10px;
  }
}

.price__picture {
  width: 275px;
  height: 328px;


  @media (min-width: $desktop-width) {
    width: 321px;
    height: 384px;
  }
}
