$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$primary-font: "Alumni Sans", "Arial", sans-serif;
$secondary-font: "Roboto Condensed", "Arial", sans-serif;
$primary-color: #102654;
$color-primary-white: #ffffff;
$color-secondary-white: #f8f9fc;
$color-accent: #103aae;
$color-plus: #1c3374;
$color-features-span: #2e35ac;
$color-accent-bg: #d10a42;
$color-gradient-text: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$color-gradient-button: linear-gradient(127.61deg, #ed0233 17.6%, #003eb7 95.31%);
$color-gradient-bacground: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$bacground-banner: #ed0233;
$background-dark: #102654;
$background-footer: #030a1a;
$color-error: #ff121f;
$color-hover-social: #74819c;
$color-black: #000000;
$color-grey: #c8c9cc;
$color-price-shadow: #e8e8e8;
